.location-card {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

/* Groups & Items (Mobile First) */
.wrapper {
    width: 96%;
    display: block;
    margin: auto;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
}

@media all and (min-width: 600px) {
    canvas {
        max-width: 80%;
    }
    
    .group {
        flex-direction: row;
    }

    .item {
        margin-bottom: 0;
    }
}